<h1 align="center" style="color:white; background: rgb(50, 54, 87); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; " >PirateBay</h1>
<body>
        
    <p>
    </p>
    <div>
    </div>
    <a  routerLink="/gestion" class="rainbow-button" alt="Gestionar Usuarios"></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a  routerLink="/pedidos" class="rainbow-button" alt="Gestionar Producto"></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a  routerLink="/login" class="rainbow-button" alt="Salir"></a>
</body>
